.header__title {
    display: flex;
    max-width: 730px;
    align-items: center;
    margin-left: 64px;
    font-size: 102px;
    line-height: 96px;
    font-weight: bolder;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
  }